<%# Per-file metadata fields for a FileSet form, the FileSet counterpart to
    hyrax/base/_form_metadata. %>
<% primary = f.object.primary_terms - %i[schema_version contexts] %>
<% secondary = f.object.secondary_terms - %i[schema_version contexts] %>
<% extended_id = "file-extended-terms-#{panel_id}" %>
<div class="deposit-wizard__file-metadata">
  <div class="base-terms">
    <% primary.each do |term| %>
      <%= render_edit_field_partial(term, f: f, curation_concern: f.object.model) %>
    <% end %>
  </div>

  <% if secondary.any? %>
    <%= link_to t('hyrax.works.form.additional_fields'),
                "##{extended_id}",
                class: 'btn btn-secondary additional-fields',
                data: { toggle: 'collapse' },
                role: 'button',
                'aria-expanded' => 'false',
                'aria-controls' => extended_id %>
    <div id="<%= extended_id %>" class="collapse">
      <% secondary.each do |term| %>
        <%= render_edit_field_partial(term, f: f, curation_concern: f.object.model) %>
      <% end %>
    </div>
  <% end %>
</div>
