# Directories
./artifacts
./.bundle
./.claude
./.git
./.github
./chart
./coverage
./docker
./docs
./fcrepo
./.internal_test_app/*
./log
./node_modules
./pg
./public/assets
./public/branding
./public/packs
./public/system
./public/uploads
./solr/solr
./fcrepo
./spec
./storage
./tmp/*
./vendor
# Files
*.rdb
.byebug_history
.coveralls.yml
.DS_Store
.env.*
.ebextensions
.fcrepo_wrapper
.gitguardian.yaml
.gitignore
.gitlab-ci.yml
.hound.yml
.idea
.irbrc
.rspec
.rubocop*
.scss-lint.yml
.solr_wrapper
.tool-versions
.travis.yml
CODE_OF_CONDUCT.md
Dockerfile*
docker-compose.*
fits.log
ImageMagick*
