# dotenv gem doesn't always do the right thing with blank env vars, so we make sure these get set to something
x-app-env: &app-env
  APP_NAME: ${APP_NAME:-hyku}
  HYRAX_FLEXIBLE: ${HYRAX_FLEXIBLE:-false}

x-app: &app
  build:
    context: .
    target: hyku-web
    args:
      BUILDKIT_INLINE_CACHE: 1
    cache_from:
      - ghcr.io/samvera/hyku/web:latest
  image: ghcr.io/samvera/hyku/web:${TAG:-latest}
  user: root
  env_file:
    - .env
  environment:
    <<: *app-env
  volumes:
    - node_modules:/app/samvera/hyrax-webapp/node_modules:cached
    - uploads:/app/samvera/hyrax-webapp/public/uploads:cached
    - assets:/app/samvera/hyrax-webapp/public/assets:cached
    - cache:/app/samvera/hyrax-webapp/tmp/cache:cached
    - .:/app/samvera/hyrax-webapp

volumes:
  assets:
  cache:
  db:
  fcrepo:
  node_modules:
  redis:
  solr:
  uploads:
  zk:
  zoo:

networks:
  default:
    name: stackcar

services:
  zoo:
    image: zookeeper:3.6.2
    environment:
      - ZOO_MY_ID=1
      - ZOO_SERVERS=server.1=zoo:2888:3888;2181
      - ZOO_4LW_COMMANDS_WHITELIST=mntr,srvr,ruok,conf
    volumes:
      - zoo:/data
      - zk:/datalog
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "echo 'ruok' | nc -w 2 -q 2 localhost 2181 | grep imok || exit 1",
        ]
      interval: "10s"
      timeout: "8s"

  solr:
    image: ghcr.io/samvera/hyku/solr:${TAG:-latest}
    build:
      context: .
      target: hyku-solr
      args:
        BUILDKIT_INLINE_CACHE: 1
      cache_from:
        - ghcr.io/samvera/hyku/solr:latest
    environment:
      - OOM=script
      - SOLR_ADMIN_USER=solr
      - SOLR_ADMIN_PASSWORD=SolrRocks
      - SOLR_COLLECTION=hydra-development
      - SOLR_CLOUD_BOOTSTRAP=yes
      - SOLR_ENABLE_CLOUD_MODE=yes
      - SOLR_ENABLE_AUTHENTICATION=yes
      - ZK_HOST=zoo:2181
      - VIRTUAL_PORT=8983
      - VIRTUAL_HOST=solr.hyku.test
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.solr-${APP_NAME}.tls=true"
      - "traefik.http.routers.solr-${APP_NAME}.entrypoints=websecure"
      - "traefik.http.routers.solr-${APP_NAME}.rule=Host(`solr-${APP_NAME}.localhost.direct`)"
      - "traefik.http.services.solr-${APP_NAME}.loadbalancer.server.port=8983"
    user: root
    command: bash -c "
      chown -R 8983:8983 /var/solr
      && ./bin/solr zk cp file:/var/solr/data/security.json zk:/security.json
      && runuser -u solr -- solr-foreground"
    expose:
      - 8983
    volumes:
      - solr:/var/solr
    healthcheck:
      test: curl -sf http://$$SOLR_ADMIN_USER:$$SOLR_ADMIN_PASSWORD@solr:8983/solr/admin/cores?action=STATUS || exit 1
      start_period: 3s
      interval: 5s
      timeout: 5s
      retries: 6
    depends_on:
      zoo:
        condition: service_healthy

  fits:
    image: ghcr.io/samvera/fitsservlet:1.6.0
    ports:
      - 8080
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fits-${APP_NAME}.tls=true"
      - "traefik.http.routers.fits-${APP_NAME}.entrypoints=websecure"
      - "traefik.http.routers.fits-${APP_NAME}.rule=Host(`fits-${APP_NAME}.localhost.direct`)"
      - "traefik.http.services.fits-${APP_NAME}.loadbalancer.server.port=8080"

  fcrepo:
    image: ghcr.io/samvera/fcrepo4:4.7.5
    volumes:
      - fcrepo:/data:cached
    env_file:
      - .env
    environment:
      - VIRTUAL_PORT=8080
      - VIRTUAL_HOST=fcrepo.hyku.test
      - JAVA_OPTS=${JAVA_OPTS} -Dfcrepo.modeshape.configuration="classpath:/config/file-simple/repository.json" -Dfcrepo.object.directory="/data/objects" -Dfcrepo.binary.directory="/data/binaries"
    ports:
      - 8080
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fcrepo-${APP_NAME}.tls=true"
      - "traefik.http.routers.fcrepo-${APP_NAME}.entrypoints=websecure"
      - "traefik.http.routers.fcrepo-${APP_NAME}.rule=Host(`fcrepo-${APP_NAME}.localhost.direct`)"
      - "traefik.http.services.fcrepo-${APP_NAME}.loadbalancer.server.port=8080"

  db:
    image: postgres:11.1
    env_file:
      - .env
    ports:
      - 5432
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - VIRTUAL_PORT=5432
      - VIRTUAL_HOST=db.hyku.test
    volumes:
      - db:/var/lib/postgresql/data

  adminer:
    image: adminer
    environment:
      - VIRTUAL_PORT=8080
      - VIRTUAL_HOST=admin.hyku.test
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer-${APP_NAME}.tls=true"
      - "traefik.http.routers.adminer-${APP_NAME}.entrypoints=websecure"
      - "traefik.http.routers.adminer-${APP_NAME}.rule=Host(`adminer-${APP_NAME}.localhost.direct`)"
      - "traefik.http.services.adminer-${APP_NAME}.loadbalancer.server.port=8080"

  web:
    <<: *app
    # Uncomment command to access container with out starting bin/web. Useful for debugging
    # command: sleep infinity
    environment:
      <<: *app-env
      VIRTUAL_PORT: 3000
      VIRTUAL_HOST: .hyku.test
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-${APP_NAME}.tls=true"
      - "traefik.http.routers.web-${APP_NAME}.entrypoints=websecure"
      - "traefik.http.routers.web-${APP_NAME}.priority=10"
      - "traefik.http.routers.web-${APP_NAME}.rule=HostRegexp(`.+-${APP_NAME}.localhost.direct`)"
      - "traefik.http.services.web-${APP_NAME}.loadbalancer.server.port=3000"
    depends_on:
      db:
        condition: service_started
      adminer:
        condition: service_started
      solr:
        condition: service_started
      fits:
        condition: service_started
      fcrepo:
        condition: service_started
      redis:
        condition: service_started
      zoo:
        condition: service_started
      check_volumes:
        condition: service_started
      chrome:
        condition: service_started
      worker:
        condition: service_started
      initialize_app:
        condition: service_completed_successfully
    # ports:
    #   - 3000:3000
    expose:
      - 3000

  worker:
    <<: *app
    image: ghcr.io/samvera/hyku/worker:${TAG:-latest}
    # Uncomment command to access container with out starting bin/worker. Useful for debugging
    # command: sleep infinity
    build:
      context: .
      target: hyku-worker
      args:
        BUILDKIT_INLINE_CACHE: 1
      cache_from:
        - ghcr.io/samvera/hyku/web:latest
        - ghcr.io/samvera/hyku/worker:latest
    depends_on:
      check_volumes:
        condition: service_completed_successfully
      initialize_app:
        condition: service_completed_successfully
      db:
        condition: service_started
      adminer:
        condition: service_started
      solr:
        condition: service_started
      fits:
        condition: service_started
      fcrepo:
        condition: service_started
      redis:
        condition: service_started
      zoo:
        condition: service_started

  # Do not recurse through all of tmp. derivatives will make booting
  # very slow and eventually just time out as data grows
  check_volumes:
    <<: *app
    user: root
    entrypoint: ["sh", "-x", "-c"]
    command:
      - >
        chown -R app:app /app/samvera/hyrax-webapp/public/uploads &&
        chown -R app:app /app/samvera/hyrax-webapp/public/assets &&
        chown -R app:app /app/samvera/hyrax-webapp/tmp/cache

  initialize_app:
    <<: *app
    environment:
      - CONFDIR=/app/samvera/hyrax-webapp/solr/conf
    entrypoint: ["sh", "-c"]
    command:
      - >
        solrcloud-upload-configset.sh /app/samvera/hyrax-webapp/solr/conf &&
        solrcloud-assign-configset.sh &&
        SOLR_COLLECTION_NAME=hydra-test solrcloud-assign-configset.sh &&
        db-migrate-seed.sh
    depends_on:
      db:
        condition: service_started
      solr:
        condition: service_healthy
      fcrepo:
        condition: service_started
      redis:
        condition: service_started

  redis:
    image: redis:5
    command: redis-server
    volumes:
      - redis:/data

  chrome:
    # password is 'secret'
    image: seleniarm/standalone-chromium:latest
    logging:
      driver: none
    volumes:
      - /dev/shm:/dev/shm
    shm_size: 3G
    environment:
      - JAVA_OPTS=-Dwebdriver.chrome.whitelistedIps=
      - VIRTUAL_PORT=7900
      - VIRTUAL_HOST=chrome.hyku.test
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chrome-${APP_NAME}.tls=true"
      - "traefik.http.routers.chrome-${APP_NAME}.entrypoints=websecure"
      - "traefik.http.routers.chrome-${APP_NAME}.rule=Host(`chrome-${APP_NAME}.localhost.direct`)"
      - "traefik.http.services.chrome-${APP_NAME}.loadbalancer.server.port=7900"
