<% if @presenter.display_share_button? %><%# added share your work button -- made btn-secondary and added btn-sm per theming, modal code to make the share your work button work is located in themes/cultural_repository/layouts/hyrax.html.erb %>
<div class="home_share_work row">
  <div class="col-sm-12 text-center">
    <% if signed_in? %>
      <% href, data = deposit_new_work_target(many: @presenter.create_many_work_types?,
                                              first_type: @presenter.first_work_type) %>
    <% else %>
      <% href, data = hyrax.my_works_path, {} %>
    <% end %>
    <%= link_to href, class: "btn btn-secondary btn-sm mt-20", data: data do %>
      <i class="fa fa-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
    <% end %>
    <p><%= link_to t(:'hyrax.pages.tabs.terms_page'), hyrax.terms_path, class: 'cr_terms'  %></p>
  </div>
</div>
<% end %>
