# Simple yaml config-driven schema which is used to define model attributes,
# index key names, and form properties.
#
# Attributes must have a type but all other configuration options are optional.
# Please note: If using Valkyrie's Fedora Metadata Adapter, predicates for attributes
# must be placed here.
#
# attributes:
#   attribute_name:
#     type: string
#     multiple: false
#     index_keys:
#       - "attribute_name_sim"
#     form:
#       required: true
#       primary: true
#       multiple: false
#
# @see config/metadata/basic_metadata.yaml for an example configuration
#
# Generated via
#  `rails generate hyrax:collection_resource CollectionResource`

attributes:
  hide_from_catalog_search:
    type: string
    multiple: false
    form:
      display: false
      required: false
      primary: false
      multiple: false
    predicate: https://hykucommons.org/terms/hide_from_catalog_search
    index_keys:
    - hide_from_catalog_search_bsi
    - hide_from_catalog_search_tesim
