<%# April's note: overriding Hyrax v5.0.0rc2 template for client theming %>
<% featured_collection = f.object.presenter %>
<div class="institutional-repository-collections pb-40 col-6">
  <%= link_to [hyrax, featured_collection] do %>
    <%= render_thumbnail_tag(featured_collection, { class: "img-fluid", alt: thumbnail_alt_text_for(featured_collection.solr_document, block_name: 'default_collection_image_text') }, {suppress_link: true}) %>
  <% end %>
  <div class="collection-item-title">
    <%= link_to [hyrax, featured_collection] do %>
      <h3>
        <%= markdown(featured_collection.title.first) %>
      </h3>
    <% end %>
  </div>
</div>
