<%# Add content_for block to clear caching so IR icons don't duplicate unintentionally %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="institutional-repository-carousel">
  <div class="resource-container">
    <a role="button" onclick="scrollResources('previous')">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <div class="resource-wrapper">
      <div class="resource-row">
        <% resource_types.each do |resource_type, value| %>
          <% resource_count = value[0] %>
          <% resource_icon = value[1] %>
          <% next if resource_count.zero? %>
          <div class="resource-item">
            <%= link_to "/catalog?f[resource_type_sim][]=#{resource_type}", style: "color: inherit;" do %>
              <i class='<%= "#{resource_icon}" %>' aria-hidden="true"></i>
              <h6><%= resource_type %></h6>
              <p><%= resource_count %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <a role="button" onclick="scrollResources('next')">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
