<% provide :page_title, application_name %>

<!-- check for home text content block-->
<% if display_content_block? @home_text %>
  <div class="homepage-text-container">
    <%= render 'themes/notch8/home_text' if controller_name == 'homepage' %>
  </div>
<% end %>

<%# add check for featured works %>
<div class="row">
  <div class="col-lg-4 pr-lg-5">
    <h2>Featured Collections</h2>
    <%= render 'featured_collection_section' %>
  </div>

  <div class="col-lg-8 pl-lg-5">
    <div class="border-bottom pb-4">
    <h2>Featured Works</h2>
    <%= render 'featured_works' %>
    </div>
    <div class="mt-4">
      <% if @presenter.display_recently_uploaded? %>
        <h2>Recent Uploads</h2>
        <%= render 'hyrax/homepage/recently_uploaded', recent_documents: @recent_documents %>
      <% end %>
    </div>
  </div>
</div>
