<% provide :page_title, application_name %>

<%# add check for featured works %>
<div class="row">
  <div class="col-12">
    <h2>Featured Works</h2>
    <%= render 'featured_works' %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>Collections</h2>
    <%= render 'featured_collection_section' %>
  </div>
</div>
