<div class="viewer-wrapper">
  <% if file_set_presenter %>
    <iframe id="pdf-viewer" aria-label="image view"
      src="<%= pdf_js_url(hyrax.download_path(file_set_presenter.id)) %>"
      allowfullscreen="true"
      frameborder="0"
    ></iframe>
  <% else %>
    <%# TODO: ....%>
  <% end %>
</div>
