<%# OVERRIDE Hyrax 5.2.0 to enable markdown in the work description, and remove autolink to search in description on show page %>

<% Array(presenter.description).each do |description| %>
    <p class="work_description"><%= markdown(description) %></p>
<% end %>
