.notch8 {
  // ========================================
  // Top Navigation Bar
  // ========================================
  #notch8-navbar-collapse {
    margin-top: 2rem;

    .navbar-nav {
      .nav-link {
        margin-bottom: 1rem;
      }
    }
  }
}
